.container_home{
    height: 100vh;
    width: 100vw;
    background-color: white; 
    display: flex;
    flex-direction: column;
    
}
.top_home{
    height: 55px;
    background: #2E0052;
    display: flex;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.contact{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

}
.contact img{
    height: 17px;
}
.sale{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.auth_home{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-evenly;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.auth_home button{
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}
.auth_home p{
    border-left: 2px solid white;
    height: 17px;
}
.middle_home{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;

}
/* .topcontent_home{
    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: space-between;
} */
.first_home{
    display: flex;
    /* width: 95%; */
    justify-content: space-between;
    align-items: center;
    padding: 2% 2.7% 0% 3%;
    /* height: 12.5%; */
}
.logo_home{
    display: flex;
    align-items: flex-end;
    width: 25%;
    column-gap: 2%;
}
.logo_home img{
    height: 40px;
    width: 40px;
}
.logo_home h1{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #2E0052;
}
.logo_home p{
   margin-left: 7px;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;

}
.viewcart_home{
    display: flex;
    width: 10%;
}
.viewcart_home button{
    height: 30px;
    width: 100%;
    border: none;
    background: #1D7000;
    border-radius: 17px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.viewcart_home img{
    height: 17px;
}
.advertiest_home{
       /* height: 40%; */
    /* padding: 0% 3.2% 0% 3%; */
    margin: 3% 3.2% 0% 3%;
    display: flex;
    /* background-image: url(../../assets/images/addimg.png); */
    /* flex-direction: column; */
    background: linear-gradient(90deg, #7286B4 0%, #E794CE 100%);
    border-radius: 25px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 175px;
    justify-content: space-evenly;
}
.firstimg{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 48px;
}
.secondimg{
    height: 21%;
    width: 25%;
    margin-left: 48px;
}
.right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    height: 175px;
    align-items: flex-end;
}
.right img{
    height: 208px;
}
.colorgrad{
    background: linear-gradient(90deg, #7286B4 0%, #E794CE 100%);
    height: 100%;
    /* padding: 0% 3.2% 0% 3%; */
    border-radius: 25px;
}
.mobile_search_home{
    display: none;
}
.search_home{
        /* height: 17%; */
        padding: 2.1% 3.2% 0% 3%;
        display: flex;
        flex-direction: column;
}
.search_home input{
    padding: 0% 0% 0% 6%;
    height: 50px;
    border: 3px solid #C8C8C8;
    /* padding: 20px; */
    border-radius: 24px;
    outline: none;
    background-image: url(../../assets/icons/searchicon\ \(2\).png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-position: left;
    background-size: 30px;
    background-position-x: 3%;
}
.scroll_filter{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.allfilters_home{
    display: flex;
    padding: 2% 3.2% 0% 3%;
    align-items: center;
    justify-content: space-between;    
    /* height: 7%; */
}
.allfilters_home option{
    background: white;
}
.view {
    display: flex;
    width: 6%;
    column-gap: 7px;
}
.view img{
    height: 23px;
    width: 23px;
    cursor: pointer;
}
.filters {
    width: 71%;
    display: flex;
    column-gap: 2%;
    justify-content: flex-start;
}
.filters select{
    background: #D9D9D9;
    height: 23px;
    border: none;
    border-radius: 10px;
    /* width: 26%; */
    /* padding: 3px; */
    padding: 0 8px 0 8px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.sort{
    width: 19%;
    display: flex;
    justify-content: flex-end;
}
.sort select{
    /* background: #D9D9D9; */
    height: 23px;
    border: 3px solid #E1E1E1;
    border-radius: 10px;
    /* width: 26%; */
    /* padding: 3px; */
    padding: 0 8px 0 8px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
hr{
    display: none;
}
.bottomcontent_home{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 2% 3.2% 4% 3%;
    justify-content: space-around;
}
.container_product{
    padding: 0% 3.2% 0% 3%;
}
/* test*/
/* .test{
    display: inline-flex;
    height: 20%;
    width: 150px;
} */
.component_product{
    
    display: flex;
    flex-direction: column;
    /* height: 266px; */
    padding-bottom: 25px;

}
/* list view component css*/
.list_component_product{
    display: flex;
    /* flex-direction: column; */
    height: 196px;
    width: 100%;
    padding-bottom: 25px;
}

.list_bottom_product{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* height: 86px;
    justify-content: space-evenly; */
    justify-content: space-evenly;
}
.list_description{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.list_button{
    height: 30px;
    width: 100px;
    border: none;
    background: #2E0052;
    border-radius: 17px;
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px; */
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.top_product{
    /* height: 75%;
    /* border: 15px solid #D4E5FF; */
    /* width: 100%;  */
    display: flex;
    position: relative;
    
}
.testtrial{
    border: 22px solid #D4E5FF;
    /* height: 100%; */
    /* width: 80%; */
    height: 171px;
}
.top_product span{
    position: absolute;
    /* position: relative; */
    top: 172px;
    left: 169px;
    background-size: 30px;
    height: 35px;
    background: white;
    border-radius: 80%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 7px 0px #00000040;
}
.top_product span img{
    height: 20px;
}
.bottom_product{
    display: flex;
    flex-direction: column;
    height: 86px;
    justify-content: space-evenly;
}
.product_title{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.product_price, .product_color{
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
/* .bottom_home{
    height: 55px;
    background: #2E0052;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
} */
.bottom_home{
    
    background: #2E0052;
    display: flex;
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.bottom_home p{
    height: 40px;
    /* font-size: 19px; */
    display: flex;
    align-items: center;
}
.bottom_buttons{
    display: none;
}
/* mobile view css*/

@media only screen and (max-width: 480px) {
    .top_home{
        display: none;
    }
    .first_home{
        display: none;
    }
    .scroll_filter{
        display: flex;
        flex-direction: row-reverse;
        column-gap: 12px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .filters{
       
        justify-content: normal;
        column-gap: 0px;
        width: auto;
    }
    .filters select{
        height: 30px;
    }
   
    .sort select{
        
        height: 30px;
        
    } 

    .bottomcontent_home{
        display: grid;
        grid-template-columns: auto auto;
        padding: 2% 3.2% 4% 3%;
        justify-content: space-around;
    }
   
    .component_product{
        margin-bottom: 14px;
    border: 1.13px solid #CECECE;
    border-radius: 4px;
    padding: 0;
    height: 239px;
    }
    .bottom_product{
        height: 72px;
    }
    .testtrial{
        height: 135px;
        border: 19px solid #D4E5FF;
    }
    .product_title{
        margin-left: 10px;
        font-weight: 600;
        font-size: 14px;
    }
    .product_price, .product_color{
        margin-left: 10px;
        
        font-size: 10px;
    }
    .search_home{
        display: none;
    }
    .mobile_search_home{
        display: flex;
        flex-direction: column;
        background: #2E0052;
        height: 58px;
        align-items: center;
        justify-content: center;
    }
    .mobile_search_home input{
        padding: 0% 0% 0% 10%;
        height: 35px;
        border: none;
        /* padding: 20px; */
        border-radius: 3px;
        outline: none;
        background-image: url(../../assets/icons/searchicon\ \(2\).png);
        background-repeat: no-repeat;
        /* background-size: cover; */
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        background-position: left;
        width: 90%;
        background-size: 23px;
        background-position-x: 3%;
    }
    .advertiest_home{
        margin-top: 6%;
        margin-right: 3%;
        height: 106px;
        border-radius: 7px;
    }
    .left{
        height: auto;
    }
    .firstimg{
        width: auto;
        margin-left: 14px;
    }
    .secondimg{
        margin-left: 14px;
        width: 65%;
    }
    .right{
        height: auto;
        justify-content: none;

    }
    .right img{
        height: 123px;
        /* display: flex; */
        width: 100%;
    }
    .view{
        display: none;
    }
    hr{
        display: flex;
        margin-top: 15px;
    }
    .bottom_home{
        display: none;
    }
    .bottom_buttons{
        display: flex;
    border-top: 1x solid black;
    /* border: 1px solid #C8C8C8; */
    border-top: 1px solid #C8C8C8;
    height: 45px;
    justify-content: space-between;
    }
    .home_btn{
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 14px;
    /* height: 16px; */
    
    }
    .cart_btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .logout_btn{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    }
    
    .cart_btn img{
        height: 19px;
        cursor: pointer;
    }
    .logout_btn img{
        height: 19px;
        cursor: pointer;
    }
    .bottom_buttons p{
        font-size: 8px;
        margin-top: 1px;
    }
    .line{
        height: 7%;
    }
    .img1{
        margin-top: 7px;
        cursor: pointer;
        height: 19px;
    }
    .top_product span{
        top: 129px;
    left: 131px;
    width: 36px;
    height: 36px;
    }
    .top_product span img{
        height: 20px;
    
    }
}